<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
           
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li><a href="@Url.Action("Logout", "Account", new { area = "" })" class="nav-link text-warning"><i class="fa fa-home me-1"></i> Web Sitesine Dön</a></li>
                    <li>@Html.ActionLink("Afiş", "Index", "Banner", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Hakkımızda", "Index", "About", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Özellikler", "Index", "AboutItem", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Doktorlar", "Index", "Doctor", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Departmanlar", "Index", "Department", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Randevular", "Index", "Appointment", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Kullanıcılar", "Index", "User", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Hizmetler", "Index", "Service", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Referanslar", "Index", "Testimonial", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Paketler", "Index", "Price", new { area = "Admin" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Profil", "Profile", "User", new { area = "Admin" }, new { @class = "nav-link" })</li>
                   
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
           
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
